@model ProductListModel
@{
    ViewData["title"] = "Product List";
}

<div class="row d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
        <div class="col-md-9"> 
            <div class="row">
                @if (Model.Products != null && Model.Products.Count > 0)
                {
                    @foreach (Product product in Model.Products)
                    {
                        <partial name="_products" for="@product" />
                    }
                }
                else
                {
                    <p>Ürün Bulanamadı.</p>
                }
            </div>
            <div class="row">
                <div class="d-flex justify-content-center mt-5" page-model="@Model.PageInfo"></div>
            </div>
        </div>
    </div>

</div>